<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<script type="module" src='/static/js/main.js' defer></script>
<script type="module" src='/static/js/controller.js' defer></script>
<script type="module" src='/static/js/dataHandler.js' defer></script>
<script type="module" src='/static/js/view.js' defer></script>
<div th:fragment="copy4" class="container">
    <div id="cart-div">
    </div>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel" >
                        Login
                    </h5><br>
                    <p id="login-error"></p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="login-input">
                    <label for="log-name"><b>User name</b></label>
                    <input type="text" placeholder="Enter User name" name="user-name" id="log-name" size="30" required><br>

                    <label for="log-psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" id="log-psw" size="30" required>
                </div>
                <div class="modal-footer border-top-0 d-flex justify-content-between">
                    <button type="button" id="log-close" class="close-button" data-dismiss="modal">Close</button>
                        <button id="login" data-target="#loginModal" type="button"
                                class="btn btn-success">Login
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>